a.mack-button, button.mack-button{
    width: auto;
    height: 2.75rem;
    border-radius: 0.25rem;
    padding: 0 1.25rem;
    font-weight: bold;
    font-size: 1.1875rem;
    text-align: center;
    border: none;
    text-transform: lowercase;
    text-decoration: none;
    background: #0C616E;
    color: #ffffff;
    border: 0.0625rem solid #17a2b8;
}

a.mack-button:not(:disabled):hover,
button.mack-button:not(:disabled):hover{
    background: rgb(19, 133, 141);
    text-decoration: none;
    color:#FFF;
    outline: none;
}

a.mack-button:not(:disabled):focus,
button.mack-button:not(:disabled):focus{
    outline: auto 0.3125rem -webkit-focus-ring-color;
}

a.mack-button i, button.mack-button{
    vertical-align: text-top;
}

a.mack-button.mack-button--outline, 
button.mack-button.mack-button--outline{
    color: #106EB0;
    border: 0.0625rem solid #106EB0;
    background: #ffffff;
}

a.mack-button.mack-button--outline:not(:disabled):hover, a.mack-button.mack-button--outline:not(:disabled):focus, 
button.mack-button.mack-button--outline:not(:disabled):hover,
button.mack-button.mack-button--outline:not(:disabled):focus{
    background: #ECF4F9;
    color:#106EB0;
    outline: none;
}

a.mack-button.mack-button--outline:not(:disabled):focus,
button.mack-button.mack-button--outline:not(:disabled):focus{
    outline: auto 0.3125rem -webkit-focus-ring-color;
}

a.mack-button.mack-button--outline:disabled, a.mack-button.mack-button--outline[disabled], 
button.mack-button.mack-button--outline:disabled,
button.mack-button.mack-button--outline[disabled]{
    border: 0.0625rem solid #D9D3CF;
    background: #FFFFFF;
    color: #969290;
    opacity: 1;
}

a.mack-button{
    display: inline-block;
    line-height: 2.75rem;
}

.mack-button[disabled], .mack-button--disabled{
    background: #D9D3CF;
    border-color: #D9D3CF;
    color: #969290;
    opacity: 1;
}
